name: Send Canva Design to LINE

on:
  schedule:
    - cron: '0 3 * * *'
  workflow_dispatch:

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: pip install -r requirements.txt

      - name: Run script
        id: script_step  # IDを追加して出力を受け取れるようにする
        env:
          CANVA_CLIENT_ID: ${{ secrets.CANVA_CLIENT_ID }}
          CANVA_CLIENT_SECRET: ${{ secrets.CANVA_CLIENT_SECRET }}
          CANVA_REFRESH_TOKEN: ${{ secrets.CANVA_REFRESH_TOKEN }}
          CANVA_DESIGN_ID: ${{ secrets.CANVA_DESIGN_ID }}
          LINE_CHANNEL_ACCESS_TOKEN: ${{ secrets.LINE_CHANNEL_ACCESS_TOKEN }}
          LINE_USER_ID: ${{ secrets.LINE_USER_ID }}
        run: python main.py

      # ここが新機能！新しいトークンがあればSecretsを更新する
      - name: Update Refresh Token Secret
        if: steps.script_step.outputs.new_refresh_token != ''
        env:
          GH_TOKEN: ${{ secrets.PA_TOKEN }}
        run: |
          gh secret set CANVA_REFRESH_TOKEN --body "${{ steps.script_step.outputs.new_refresh_token }}"
